<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link  href="styles.css" />
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e7bdd;
}
        li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #a7cfd2;
}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/password">Password Checker</a></li>
          </ul>
    </nav>
    
    <p>Lets see if your password matches the requirements</p>
    <p style="color: red;">{{ohnotext}}</p>
    <p style="color: red;">{{uperror}}</p>
    <p style="color: red;">{{lowerror}}</p>
    <p style="color: red;">{{numerror}}</p>
    <p style="color: red;">{{charerror}}</p>
    <b><h1 style="color: red;">{{counter}}</h1></b>
    <p style="color: green;">{{success}}</p>





</body>
</html>